a {
	color: rgb(var(--color-primary));
	transition: .3s color ease;
  color: red;
}

a:hover {
	color: rgb(var(--color-lighten20));
}

@media screen and (min-width: 768px) {
	.Header-logo {
		margin: 0 auto;
	}

	.Header-logo img {
		max-height: 90px;
		transition: .3s all ease;
	}

	.Header-top {
		display: none;
	}

	.Header.sticky {
		box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
	}

	.Header.sticky .Header-logo img {
		max-height: 40px;
	}

	.Header-search {
		position: absolute;
		left: 20px;
		width: 250px;
		display: flex;
		z-index: 1;
	}
	
	.Header-search i {
		font-size: 21px;
		color: #777;
	}

	.Header-container {
		position: relative;
	}
	.Header-menu {
		background: none;
		border-top: 1px solid rgba(0, 0, 0, 0.05);
	}
	.Header-menu .container {
		display: flex;
		justify-content: center;
	}
	.Header-menu ul li a {
		color: #000;
		text-transform: capitalize;
		font-weight: 600;
		transition: .3s all ease;
	}
	.Header-menu ul li:hover {
		background: none;
	}
	.Header-menu ul li:hover a {
		color: rgb(var(--color-primary));
	}
	
	.Header-right-profile a i,
	.Cart-icon i {
		margin-right: 0;
	}
	.Header-right-profile a span,
	.Cart-icon a span:nth-of-type(1) {
		display: none;
	}
	.Header-right {
		position: absolute;
		right: 20px;
		display: flex;
		justify-content: flex-end;
		z-index: 1;
	}

	/* Search */
	.Search {
		padding: 0;
		max-width: auto;
	}

	.Search .form-group-search {
		perspective: 2000px;
	}

	.Search .form-group-search input {
		border: none;
		padding-left: 35px;
		border-bottom: 1px solid #ddd;
		border-radius: 0;
		transition: all ease .3s;
	}

	.Search .form-group-search input:hover,
	.Search .form-group-search input:focus {
		box-shadow: none;
	}

	.Search .form-group-search input:hover {
		border-bottom-color: #ccc;
		background: #F9F9F9;
	}

	.Search .form-group-search input:focus {
		border-bottom-color: transparent;
		background: #F7F7F7;
	}

	.Search .form-group-search .btn {
		right: auto;
		left: 5px;
	}

	.Search-autocomplete {
		height: 300px;
	    border-radius: 0;
	    top: 45px;
	    padding: 0;
	    overflow: hidden;
	    border: none;
	    transform: rotateX(40deg);
    	transform-style: preserve-3d;
    	transition: .3s all ease;
    	top: 40px;
	}

	.Search-autocomplete.active {
		top: 45px;
		transform: rotateX(0deg);
	}

	.Search-autocomplete-content li:not([data-id="0"]) {
		padding: 0;
		border-radius: 5px;
		cursor: pointer;
		margin: 10px 0;
		display: flex;
		align-items: center;
	}

	.Search-autocomplete-content li:not([data-id="0"]) a {
		max-height: 24px;
	    overflow: hidden;
	    color: #555;
	}

	.Search-autocomplete-content li[data-id="0"] img {
		display: none;
	}

	.Search-autocomplete-content li img	{
		display: block;
		width: 30px;
		height: 30px;
		object-fit: cover;
		border-radius: 50%;
		flex-shrink: 0;
		margin-right: 10px;
	}

	.Search-autocomplete-wrapper {
		height: 300px;
		overflow-y: auto;
		padding: 20px;
	}

	.Search-autocomplete-label {
		margin-top: 0;
	    text-transform: uppercase;
	    font-weight: 600;
	    font-size: 1em;
	    color: #333;
	}

	.Box-footer {
		position: absolute;
	    margin-top: 0;
	    right: 20px;
	    top: 28px;
	}

	.Box-footer a {
		font-weight: 600;
		color: rgb(var(--color-primary));
	}

	.Box-footer a:hover {
		color: rgb(var(--color-lighten20));
	}

	.tabs_view .Box-footer {
		position: static;
	}

	.Carousel-wrapper {
		overflow-x: visible;
	}

	.Product .price_box .discount {
		display: none;
	}
}

.tabs_view,
.cart_list,
.Carousel-item a {
	border-radius: 0;
}

.Box.box_prd {
	border-radius: 0;
}

.Box.box_prd .Box-header {
	margin-bottom: 20px;
}

.Box.box_prd_slide .Box-header {
	margin-bottom: 0;
}

.Box {
	position: relative;
}

.Box-header {
	text-align: left;
}

.Box--email .Box-header {
	text-align: center;
}

.Box-header a {
	text-transform: capitalize;
	font-size: 1.2em;
}

/* Product */
.Product {
	display: flex;
	flex-direction: column;
	height: 372px;
	border-radius: 10px;
	padding: 0;
}

.Product-image {
	justify-content: center;
	height: 300px;
}

.Product-image>a {
	width: 100%;
}

.Product-image>a img.prd_img {
	width: 100%;
    border-radius: 0;
    object-fit: cover;
    height: 300px;
}

.Product-image:before {
	content: none;
}

.Product .prd_img_items .discount,
.Product .prd_img_items .new_icon {
	border-radius: 0;
    padding: 0 5px;
    font-size: .75em;
    font-weight: 600;
    text-transform: capitalize;
}

.Product-content {
	flex: 1;
	height: auto;
	align-items: center;
	margin-top: 5px;
	align-items: flex-start;
}

.Product-content .name {
	text-align: left;
	max-height: 45px;
	line-height: 20px;
}

.Product-content .writer,
.Product-content .publisher {
	display: none;
}

.Product-content .name a {
	font-weight: 500;
}

.Product-content .actions {
	display: none;
}

.Product:hover .Product-content .actions {
	opacity: 1;
    visibility: visible;
    bottom: 20px;
}

.Product .actions .btn {
	width: 80%;
}

.Product-content .price_box {
	margin-bottom: 0;
}

.Product-content .price_box_wrapper {
	align-items: center;
	flex-direction: row;
}

.Product-content .price_box .price_list:not(:empty) {
	margin-right: 10px;
}

.box_comments, .box_installments {
	border-radius: 0;
}
	
.prd_view {
	border-radius: 0;
	padding: 30px;
}

.prd_view .pricebox .pricebox_content {
	display: flex;
}

.prd_view .pricebox .discount {
	display: none;
}

.prd_view .pricebox_content .list_price_row {
	margin-right: 10px;
	font-size: 1.5em;
}

.prd_view .pricebox_content .sale_price_row {
	margin-top: 0;
}

.prd_view .actions {
	margin: 0;
	margin-top: 20px;
	padding: 20px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.prd_fields {
	border-bottom: 0;
	border-top: 0;
	padding-top: 20px;
}

.prd_fields_item {
	font-size: .8em;
}

.prd_fields_label {
	font-weight: 600;
	width: 130px;
}

.prd_fields_text {
	font-weight: 400;
}

.prd_view .publisher {
	color: rgb(var(--color-primary));
	font-weight: 600;
}

.prd_view .add_cart {
	position: relative;
}

.prd_view .add_cart .form-group-quantity {
	display: flex;
	width: 100px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 8px 10px;
    align-items: center;
    margin-right: 20px;
    user-select: none;
}

.prd_view .add_cart .form-group-quantity input {
	display: none;
}

.prd_view .add_cart .form-group-quantity span {
	margin: 0 auto;
	display: block;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #F9F9F9;
	border-radius: 50%;
}

.prd_view .add_cart .form-group-quantity b {
	cursor: pointer;
    display: block;
    text-align: center;
    width: 12px;
    font-weight: 500;
    font-size: 1.5em;
    color: #ddd;
}

.prd_view .add_cart .button_add_to_cart {
	border-radius: 5px;
	font-weight: 600;
	font-size: .9em;
	padding: .46rem 1.4rem;
}

.prd_view .add_cart .button_fav {
	margin-left: 20px;
	width: 40px;
	height: 40px;
	background-color: #F1F1F1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #999;
	transition: .3s all ease;
}

.prd_view h1.contentHeader {
	color: #666;
	font-weight: 600;
}

.prd_view .add_cart .button_fav:hover {
	background-color: rgb(var(--color-primary));
	color: #fff;
}

.side_column .Box {
	border-radius: 0;
	overflow: hidden;
}

.page_prdlist .prd_list {
	border-radius: 0;
}

.Box.box_prd_list_img .Product {
	display: flex;
    flex-direction: row;
    height: 70px;
}

@media screen and (min-width: 768px) {
	.page_prdview .Header {
		border: 1px solid rgba(0, 0, 0, .05)
	}

	.page_prdview #layout_style {
		max-width: 100%;
		padding: 0;
	}

	.page_prdview .Content {
		padding-top: 0;
		overflow: visible;
	}

	.page_prdview .Content>.container {
		display: none;
	}

	.page_prdview .prd_view_img_box .slick-track {
		width: auto !important;
		transform: none !important;
		display: flex;
		flex-direction: column;
	}

	.page_prdview .prd_view_img_box .slick-dots {
		display: none !important;
	}

	.page_prdview .prd_view_img_box .Carousel-item {
		margin-bottom: 30px;
	}

	.page_prdview .prd_view_img_box .Carousel-item img {
		width: 100%;
	}

	.page_prdview .prd_view_item:nth-of-type(2) {
		position: sticky;
	    top: 200px;
	    height: fit-content;
	}
}

@media screen and (max-width: 768px) {
	.Product {
		padding-bottom: 0;
	}

	.Product-content .price_box_wrapper {
		align-items: center;
	}

	.Header-logo img {
	    max-height: 35px;
	}

	.Header-container>.Header-right {
		position: absolute;
		right: 60px;
	}

	.Header-container>.Header-right svg {
		width: 30px;
		height: 30px;
	}

	.prd_view .add_cart .button_fav {
		position: absolute;
		right: 0;
		top: -75px;
	}

	.prd_view .add_cart .button_fav {
		position: static;
	}
}